/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

html,
* {
	box-sizing: border-box;
}

.tldrawApp {
	font-family: sans-serif;
	text-align: center;
	height: 100%; /* keeps the gray background */
}

.tldraw-wrapper {
	position: relative;
	height: 78%;
	margin: 50px;
	overflow: hidden;
}
